
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<h2> This is the about page.</h2>

<p>
  This is going to be my first web aap and I am happy during doing it .Thank You.
</p>

<%- include("footer") -%>